{% extends "base.html" %}


{% block content %}
<h1>Home page</h1>


  <!-- This form references the homePost route. -->
<form action="{% url 'homePost' %}" method="post">
{% csrf_token %}


<h3>Blue Team Dragon Kills</h3>
<!-- Show radio button list named 'choice' -->
{% for choice in mynumbers %}
    <input type="radio" name="blueDragons" id="blueDragons{{ forloop.counter }}" value="{{ choice }}">
    <label for="blueDragons{{ forloop.counter }}">{{ choice }}</label><br>
{% endfor %}
<br>

<h3>Red Team Dragon Kills</h3>
<!-- Show radio button list named 'choice' -->
{% for choice in mynumbers %}
    <input type="radio" name="redDragons" id="redDragons{{ forloop.counter }}" value="{{ choice }}">
    <label for="redDragons{{ forloop.counter }}">{{ choice }}</label><br>
{% endfor %}

<h3>Blue Team Kills</h3>
<input type="text" id="blueKills" name="blueKills"><br><br>

<h3>Red Team Kills</h3>
<input type="text" id="redKills" name="redKills"><br><br>

<!—Submit button is also contained in the form -->
<input type="submit" value="Who will win?">
</form>
<!-- End of form. -->


<!-- This error will notify the user if there are issues with the POST request -->
{% if errorMessage %}<p><strong>{{errorMessage}}</strong></p>{% endif %}
{% endblock content %}
